@theme {
  /* Responsive Breakpoints */
  --breakpoint-xs: 576px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-tablet: 900px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
