@theme {
  /* ===== PRIMARY COLORS (Blue) ===== */
  --color-primary-50: #edf1f7;
  --color-primary-100: #dce3ef;
  --color-primary-200: #b9c7df;
  --color-primary-300: #96abcf;
  --color-primary-400: #728fc0;
  --color-primary-500: #2a3d5d;
  --color-primary-600: #3f5c8d;
  --color-primary-700: #304569;
  --color-primary-800: #202e46;
  --color-primary-900: #101723;

  /* ===== SECONDARY COLORS (Gold/Brown) ===== */
  --color-secondary-50: #f7f2ee;
  --color-secondary-100: #efe6dc;
  --color-secondary-200: #deccba;
  --color-secondary-300: #ceb397;
  --color-secondary-400: #be9974;
  --color-secondary-500: #d4bca4;
  --color-secondary-600: #8b6641;
  --color-secondary-700: #684d31;
  --color-secondary-800: #453321;

  /* ===== TERTIARY COLORS (Rose/Skin) ===== */
  --color-tertiary-50: #fbf1ed;
  --color-tertiary-100: #f1e2da;
  --color-tertiary-200: #e2c5b6;
  --color-tertiary-300: #d4a891;
  --color-tertiary-400: #c58c6d;
  --color-tertiary-500: #f4e9e3;
  --color-tertiary-600: #92593a;
  --color-tertiary-700: #6e422b;
  --color-tertiary-800: #492c1d;

  /* ===== NEUTRAL COLORS ===== */
  --color-neutral-10: #fefefe;
  --color-neutral-50: #f2f2f2;
  --color-neutral-100: #e6e6e5;
  --color-neutral-200: #cdcdcb;
  --color-neutral-300: #b3b3b2;
  --color-neutral-400: #9a9a98;
  --color-neutral-500: #292928;
  --color-neutral-600: #676765;
  --color-neutral-800: #343432;
  --color-neutral-950: #0d0d0d;

  /* ===== SUCCESS COLORS (Green) ===== */
  --color-success-100: #ecf9f2;
  --color-success-200: #b2e6ca;
  --color-success-300: #66cc96;
  --color-success-400: #3bb273;
  --color-success-500: #339963;

  /* ===== WARNING COLORS (Yellow) ===== */
  --color-warning-100: #fdf8e7;
  --color-warning-200: #f8e2a0;
  --color-warning-300: #f5d470;
  --color-warning-400: #f1c541;
  --color-warning-500: #f2c94c;

  /* ===== DANGER COLORS (Red) ===== */
  --color-danger-100: #fbe9e9;
  --color-danger-200: #f1a7a7;
  --color-danger-300: #e34f4f;
  --color-danger-400: #e24b4b;
  --color-danger-500: #b01c1c;
}
