@layer components {
  .calendar {
    @apply bg-background p-3;

    @apply [--cell-size:--spacing(8)];
    @apply [[data-slot=card-content]_&]:bg-transparent [[data-slot=popover-content]_&]:bg-transparent;
  }

  /* Calendar Navigation */
  .calendar-nav-button {
    @apply size-(--cell-size) p-0 select-none aria-disabled:opacity-50;
  }

  /* Calendar Dropdown */
  .calendar-dropdown-root {
    @apply relative rounded-md border border-input shadow-xs;
    @apply has-focus:border-ring has-focus:ring-[3px] has-focus:ring-ring/50;
  }

  .calendar-dropdown {
    @apply absolute inset-0 bg-popover opacity-0;
  }

  /* Calendar Day Button */
  .calendar-day-button {
    @apply flex aspect-square size-auto w-full min-w-(--cell-size) flex-col gap-1 leading-none font-normal;
    @apply [&>span]:text-xs [&>span]:opacity-70;
    @apply dark:hover:text-accent-foreground;

    /* Selection States */
    @apply data-[selected-single=true]:bg-primary data-[selected-single=true]:text-primary-foreground;
    @apply data-[range-middle=true]:rounded-none data-[range-middle=true]:bg-accent data-[range-middle=true]:text-accent-foreground;
    @apply data-[range-start=true]:rounded-md data-[range-start=true]:rounded-s-md data-[range-start=true]:bg-primary data-[range-start=true]:text-primary-foreground;
    @apply data-[range-end=true]:rounded-md data-[range-end=true]:rounded-e-md data-[range-end=true]:bg-primary data-[range-end=true]:text-primary-foreground;

    /* Focus State */
  }
}
