@layer components {
  .checkbox {
    @apply size-4 shrink-0 rounded-[4px] border shadow-xs transition-shadow outline-none;
    @apply border-input dark:border-neutral-700;
    @apply dark:bg-input/30;
    @apply data-[state=checked]:border-primary data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground;
    @apply dark:data-[state=checked]:bg-primary;
    @apply focus-visible:border-ring focus-visible:ring-[3px] focus-visible:ring-ring/50;
    @apply dark:focus-visible:border-primary-400 dark:focus-visible:ring-primary-400/50;
    @apply aria-invalid:border-destructive aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
  }

  .checkbox-indicator {
    @apply grid place-content-center text-current transition-none;
  }
}
