@layer components {
    .checkbox {
        @apply size-4 shrink-0 rounded-[4px] border shadow-xs transition-shadow outline-none;
        @apply border-input;
        @apply dark:bg-input/30;
        @apply data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground data-[state=checked]:border-primary;
        @apply dark:data-[state=checked]:bg-primary;
        @apply focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px];
        @apply aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive;
        @apply disabled:cursor-not-allowed disabled:opacity-50;
    }

    .checkbox-indicator {
        @apply grid place-content-center text-current transition-none;
    }
}