@layer components {
    .form-item {
        @apply grid gap-2;
    }

    .form-label {
        @apply data-[error=true]:text-destructive;
    }

    .form-description {
        @apply text-sm text-muted-foreground;
    }

    .form-message {
        @apply text-sm text-destructive;
    }
}