@layer components {
    .input {
        @apply w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-all outline-none;
        @apply h-9 border-input dark:border-neutral-700;
        @apply placeholder:text-muted-foreground;
        @apply selection:bg-primary selection:text-primary-foreground;
        @apply dark:bg-input/30;
        @apply focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px];
        @apply dark:focus-visible:border-primary-400 dark:focus-visible:ring-primary-400/50;
        @apply aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive;
        @apply disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
        @apply md:text-sm;

        /* File input specific styles */
        @apply file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground;
    }

    .form-item[data-layout="floating"] .input {
        @apply pt-5 pb-2 h-14;
    }

    /* Hide placeholder when label is floating and not focused/has-value */
    .form-item[data-layout="floating"]:not(:focus-within):not([data-has-value="true"]) .input::placeholder {
        @apply text-transparent;
    }
}