@layer components {
  .popover-content {
    @apply z-50 w-72 origin-(--radix-popover-content-transform-origin) rounded-md border p-4 shadow-md outline-hidden;
    @apply bg-popover text-popover-foreground;
    @apply data-[state=closed]:animate-out data-[state=open]:animate-in;
    @apply data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0;
    @apply data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95;
    @apply data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;
  }

  .popover-header {
    @apply flex flex-col gap-1 text-sm;
  }

  .popover-title {
    @apply font-medium;
  }

  .popover-description {
    @apply text-muted-foreground;
  }
}
